* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../Assets/login_bg.jpg');
    background-size: cover;
    background-position: center; 
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.profile {
    max-width: 420px;
    width: 100%;
    min-width: 25vw;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 20px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile h1 {
    font-size: 36px;
    text-align: center;
}

.profile h3 {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}

.profile .user-info {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .info-item {
    margin-bottom: 20px;
    width: 100%;
}

.profile label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.profile input {
    width: calc(100% - 40px);
    max-width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}


.profile input::placeholder {
    color: #fff;
}

.profile .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

.profile button {
    flex: 1;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-left: 2px;
    margin-right: 2px;
}

.profile button:hover {
    background: #eee;
}
