

.dashboard-title-container {
  margin-left: 66vh;
  margin-top: 15vh;

}

.dashboard-title {
    font-family:  'Circular', sans-serif, Arial, Helvetica;
    font-size: 1.8rem;
    color: #2B0AFF;
}

.dashboard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 12vh;
}

#container {
    margin-left:10vh;
   width: 115vh;
}

.accordion-item {
    background-color: #242424; /* Dark theme background */
    border: 1px solid #C307F9; /* Accordion border color */
    margin-left: 50vh;
    width: 115vh;
}

.accordion-header {
    background-color: #2B0AFF; /* Header background color */
}

.accordion-button {
    color: white; /* Text color for the accordion header */
    font-weight: bold; /* Make the header text bold */
    font-family: 'Circular', sans-serif, Arial, Helvetica; ;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #C307F9;
}

.accordion-body {
    background-color: #ffffff; /* Slightly lighter than item background */
    color: #000000;

}

/* HTML: <div class="loader"></div> */
.dashboard-loader {
  width: 5vh;
  height: 5vh;
  position: relative;
    margin-left: 2vh;
}
.dashboard-loader:before,
.dashboard-loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffffff;
  box-shadow: 0 0 0 50px;
  clip-path: polygon(100% 0, 23% 46%, 46% 44%, 15% 69%, 38% 67%, 0 100%, 76% 57%, 53% 58%, 88% 33%, 60% 37%);;
}
.dashboard-loader:after {
  animation: l8 1s infinite;
  transform: perspective(300px) translateZ(0px)
}
@keyframes l8 {
  to {transform:perspective(300px) translateZ(180px);opacity:0}
}
