.analytic-sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 4vh;
  left: 0;
  background-color: #1e1e2d;
  overflow-y: auto;
  z-index: 500;
}


.analytic-sidebar-section {
  margin-top: 20px;
}

.analytic-sidebar-title-container {
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  margin-top: 6vh;
}

.analytic-sidebar-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.menu-item.active {
  background-color: #2A2C38 !important;
}
