.analytic-sidebar {
  width: 250px; /* Adjust based on your preference */
  height: 100vh; /* Full height */
  position: fixed; /* Fixed position */
  top: 4vh; /* Height of the navbar */
  left: 0;
  background-color: #1e1e2d; /* Adjust color as needed */
  overflow-y: auto; /* Allows scrolling within the sidebar */
  z-index: 500; /* Lower than navbar but high enough for layering */
}


.analytic-sidebar-section {
  margin-top: 20px;
}

.analytic-sidebar-title-container {
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  margin-top: 6vh;
}

.analytic-sidebar-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.menu-item.active {
  background-color: #2A2C38 !important;
}
