.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 250px; /* Adjust width as needed */
    width: 100%;
    min-width: 25vw;
    background-color: #2A2C38;
    z-index: 1000; /* Adjust z-index to make sure sidebar is on top */
  }

.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 250px;
}

.dashboard-content {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.dashboard-main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.dashboard-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.dashboard-main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
@media (max-width: 768px) {
    .dashboard-content {
        flex-direction: column;
    }

    .dashboard-main {
        width: 100%;
    }

    .analytic-sidebar {
        width: 100%;
        height: auto;
    }
}

