.project-summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin: 10px;
  background-color: #2A2C38;
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.summary-item {
  padding: 10px;
  border-bottom: 1px solid #444;
  /* Add the following styles */
  word-wrap: break-word; /* Enable word wrapping */
  max-width: 2000px; /* Set a maximum width to prevent overflow */
}


.summary-item:last-child {
  border-bottom: none;
}

.summary-item label {
  display: block;
  font-size: 14px;
  color: #aaa;
}

.summary-item div {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
